{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div style="text-align:center; margin-top:80px;">
    <h2 style="color:#d66ba1; font-size:32px; margin-bottom:20px;">
        Добро пожаловать!
    </h2>
    <p style="font-size:18px; color:#5a2f4d; margin-bottom:10px;">
        В этом приложении ведется учёт студентов и вузов.
    </p>
    <p style="font-size:16px; color:#7a3d66;">
        Чтобы добавлять или редактировать записи, войдите в систему!
    </p>
    <p style="font-size:16px; color:#7a3d66;">
        Просматривать информацию могут все пользователи.
    </p>
</div>
{% endblock %}
